<div class="input-group input-group-lg">
    <input id="searchBox" type="search" class="form-control hidden-xs" placeholder="{{t "discover.search.placeholder"}}"> {{!Search input larger screens}}
    <input id="searchBox" type="search" class="form-control visible-xs" placeholder="{{t "discover.search.placeholder_short"}}"> {{!Search input xs screen}}
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action "search" this}}>{{t "global.search"}}</button>
    </span>
</div>
