{{!Modified from Ember-SHARE}}
<div class='date-range'>
    {{fa-icon 'calendar'}}
    <span class="p-l-xs">
        {{pickerValue}}
    </span>
    {{fa-icon 'caret-down' class='pull-right'}}
</div>
