<div class="input-group input-group-lg">
    <input id="searchBox" type="search" class="form-control" placeholder="{{t "index.header.search_retraction_database"}}">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action "search" this}}>{{t "global.search"}}</button>
    </span>
</div>
