@import 'bootstrap';
@import 'ember-power-select';
@import 'base';
@import 'variables';
@import 'hint';
@import 'daterangepicker.scss';

/* GLOBAL to RETRACTION WATCH, these may be used in multiple pages */
.pointer {
    cursor: pointer;
}
body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.btn-wrap {
    white-space: normal;
}
ul.comma-list {
    display: inline;
    list-style: none;
    padding-left: 0;
    li {
        display: inline;
    }
    li:after {
        content: ", "
    }
    li:last-child:after {
        content: "";
    }
}

/* INDEX page of Retraction Watch */
/* Main header with search bar */
.retraction-watch-header{
    background: white;
    padding-top: 125px;
    padding-bottom: 30px;
    border-bottom: 1px solid $rw-light-gray;
    color: white;
    h1 {
        font-size: 41px;
        font-weight: 300;
    }
    a:not(.btn) {
        color: #80c2f7;
        text-decoration: underline;
    }
    .btn-info {
        color: #fff
    }
}

/* Retraction Watch Logo */
.retraction-watch-brand {
    background: url('img/retraction-watch-logo.png') top center no-repeat;
    height: 175px;
    background-size: contain;
}

/* Browse Button */
.retraction-watch-browse-button {
    background: $rw-brown;
    color: white;
    border-radius: 20px;
    -moz-border-radius: 20px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    &:link {
        color: white;
    }
    &:visited {
        color: white;
    }
    &:hover {
        text-decoration: None;
        color: white;
        background: $rw-navy;
    }
}

/* Browse Retraction Watch */
.browse-retraction-watch {
    background-color: $rw-gray-background;
    border-bottom: 1px solid $rw-light-gray;
    .subject-item a {
        width: 100%;
        font-size: 17px;
    }
}

/* Blog Posts */
.blog-loading {
    color: $rw-navy;
}

.blog-post-heading {
    color: $rw-brown;
}

a.blog_link {
    text-decoration: underline;
    &:link {
        color: $rw-brown;
    }
    &:visited {
        color: $rw-brown;
    }
    &:hover {
        color: $rw-navy;
    }
    display: inline-block;
}

.blog-posts-block {
    border-left: 1px solid $rw-navy;
}

.blog-title a {
    color: $rw-brown;
    text-decoration: none;
    &:hover {
        color: $rw-navy;
    }
}

.individual-blog-links a {
    color: $rw-navy;
    line-height: 10px;
}

/* Summary of Retraction Watch */
.retraction-watch-explanation {
    color: $rw-brown;
    text-align: center;
    font-size: 1.35em;
}

/* Retraction Watch navbar */
.retraction-watch-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 0;
    background: $rw-brown;
    z-index: 99;
    box-shadow: 0 0 4px #525151;
    border-radius: 0;
    a {
        color: #ffffff;
    }
    .nav > li > a:hover, .nav > li > a.active, .navbar-brand:hover {
        background-color: $rw-brown;
        color: #a4c1db;

    }
    .nav > li > a:focus:not(.active) {
        background-color: transparent;
    }
    .navbar-brand a {
        text-decoration: none;
    }
    .navbar-brand a:hover {
        text-decoration: none;
    }
    .navbar-toggle {
        color: #eeeeee;
    }
}

#retraction-watch-navbar-links {
    a:hover {
        color: #a4c1db;
    }
}

/* Retraction Watch Footer */
.retraction-watch-footer {
    padding: 8px;
    bottom: 0px;
    width: 100%;
    background: $rw-brown;
    color: white;
    a {
        color: #ffffff;
        &:hover {
            color: #a4c1db;
            text-decoration: None;
        }
    }
}

.retraction-watch-footer-links {
    line-height: 15px;
    color: white;
    a:hover {
        color: #a4c1db;
    }

    div {
        display: inline-block;
        vertical-align: middle;
    }

    .social > a {
        margin: 0 4px;
    }

    .social > a:hover {
        text-decoration: none;
    }
}


/* Override styles from ember-osf and osf */
.footer {
    margin-top: 0;
    text-shadow: 0 1px 0 #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    color: #555;
}

.footer ul, .footer li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* DISCOVER PAGE */
// Overrides defaults on ember-osf addon component: ember-share-search
.ember-share-search {
    .service-logo {
        background: url('img/retraction-watch-logo.png') top center no-repeat;
        height: 175px;
        background-size: contain;
    }
    .panel-default {
        > .panel-heading {
            background-color: $rw-brown !important;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
        }
    }
}

/* Not found page */
.retraction-watch-404 {
    padding: 120px 0 120px 0;
    background-color: #ecf2f3;
    border-bottom: 1px solid #d6dbdc;
    .btn {
        background-color: $rw-navy;
        &:hover {
            background-color: gray;
            border: 1px solid gray;
        }
    }
}

.badge {
    background: $rw-navy !important;
}


/* Retraction Detail Page */
.title-container {
    padding-top: 60px;
    font-size: 24px;

    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #EEE;

    h1 {
      margin-top: 0;
      line-height: 1;
      font-size: 40px;
    }

    p {
      color: grey;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.4;
      margin-bottom: 0px;
    }

    .retraction-alert {
        text-align: left;
        font-size: 14px;
        padding: 10px 30px;
    }
}

.detail-bottom-padding {
    padding-bottom: 30px;
}

.detail-section-divider {
    margin-top: 0px;
    margin-bottom: 10px;
}

.share-tag {
    border-radius: 5px;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 8px ;
    background: $rw-navy;
    display: inline-block;
    font-size: 85%;
    margin-top: 4px;
}

.provider-favicon {
    height: 16px;
    //width: 16px;
    padding-right: 4px;
}
